# Python Basics

The goal of this notebook is to provide students with knowledge of the fundamentals of python. We will take a more interactive approach than most class room settings and ask the students to do some research on their own then bring their learnings back here to share with the class.

### Variables

Variables work by assigning a value to a specific word or string of characters. It can be done using the "=" sign. This assigns whatever is on the right the string of characters on the left. We'll go ahead and try assigning a few variables in the next block.

In [1]:
a = 1
b = 2
c = 3
a # when you put a variable by itself, its value will be printed (This is a comment - anything after a # on the same line will be ignored

1

We can also perform basic algebra to these variables and save the output to a new variable

In [2]:
d = a + b
d

3

In [3]:
e = c - a
e

2

In [4]:
f = b * c
f

6

In [5]:
g = a / b
g

0.5

Sometimes we want to update the value of one variable, so we can do this

In [6]:
g = g*2 # the same thing works for /, +, and -
g

1.0

This can get quite annoying with longer variable names, so we can do the following

In [7]:
f/=2 # there is also +=, -=, and *=
f

3.0

There are tons of different types of variables we can make. For this next section, we will ask the students to go out and figure out how to create the following types of variable: strings, floats and booleans. Once you have created these variables, try the same operations we used above and see what they do.

Create a few string variables here, then try to add them together, subtract them, multiply them and divide them to see what happens. You may get an error, and thats okay. Its important to know what can and can't be done with a type of data.

In [8]:
a = b * c

Create a few float variables here, then try to add them together, subtract them, multiply them and divide them to see what happens. You may get an error, and thats okay. Its important to know what can and can't be done with a type of data.

In [9]:
import math
a = 2
a = a + 2
print("a")
a = a * a / a
print(a)
a = math.factorial(a)
a = math.sqrt(a)
b = 6
H = b/a
print(H)

a
4.0
1.2247448713915892

Create a few boolean variables here, then try to add them together, subtract them, multiply them and divide them to see what happens. You may get an error, and thats okay. Its important to know what can and can't be done with a type of data.

In [10]:
import math
TRUE = 3
TRuE = 6

truE = TRUE + TRuE
truE
truE = math.sqrt(truE)
false = truE
print(false)

3.0

In [11]:
print(20*2 > 8-4)
print(30*2 == 30*4/2)
print(20 < 9)
print((20>8) and (30==30))
print((3>8) or (20>30))

True
True
False
True
False

### Lists

Lists work similarly to the variables we created above but store multiple values. We'll cover the types mentioned above then ask the students to try and create their own versions of them.

First up, lists. you can create a list with the following code.

In [12]:
my_list = [1, 2, 3, 4, 5]

To access a specific item from the list, you would do the following.

In [13]:
my_list[2] # here, 2 is the index you are accessing

3

The first element in the list is at index 0, then the second element is at index 1 and so on.

In [14]:
print(my_list[0], my_list[1],my_list[2],my_list[3], my_list[4])

1 2 3 4 5

Now its your turn.

Below, create a list of your favorite colors. Then figure out how to `append` a new element to the end of the list \(maybe google "how to append an element to a list python"\). Finally change a value in the list to something new.

In [15]:
favorite_color = ["red", "purple", "inidgo"]
print(favorite_color[1], favorite_color[2], favorite_color[2])

purple inidgo inidgo

### For loops, while loops, and if statements

We will learn more about for loops in the next lesson. For now, we will use them to go through a list and print out each element.

In [16]:
for number in favorite_color:
  print(number)

red
purple
inidgo

Next, we will look at how to make a list run a specific number of times.

In [17]:
for i in range(5): # range functions the same here as the list [0,1,2,3,4,5]
    print('i = ', i)

i =  0
i =  1
i =  2
i =  3
i =  4

Next, we'll take a look at while loops. In general, you can make a while loop do anything that a for loop can do but with slightly different syntax, so if you find youself understanding while loops better than for loops, you can just focus on using while loops.

In the block below, we will make a while loop that runs 5 times. For while loops, we can't specify how long they will run for ahead of time so its important for us to create an achievable exit condition. An exit condition is just the condition that will cause the code to stop running. This is checked every time, immediatly before the code runs or reruns. We want to make sure that this condition will eventually happen, otherwise the code will run until something crashes or we manually close it

In [18]:
i = 0
while i < 5:
    print("Hello World")
    i = i + 1

Hello World
Hello World
Hello World
Hello World
Hello World

Now for if statements. The if-elif-else statement is used to conditionally execute a statement or a block of statements. Conditions can be true or false, execute one thing when the condition is true, something else when the condition is false.

In [19]:
a = 1
b = 2
if a > b:
    print("a is greater than b")

We can add else statements to the above. An else statement is what will be run if the original statement is false.

In [20]:
a = 1
b = 2
if a > b:
    print("a is greater than b")
else:
    print("b is less than a")

b is less than a

Additionally, we can use elif statements to add additional conditions to the structure.

In [21]:
a = 1
b = 1
if a > b:
    print("a is greater than b")
elif a == b:
    print("a equals b")
else:
    print("b is less than a")

a equals b

Now its your turn. Either break up into 3 teams and have each team solve one of the blocks or solve them all together.

In the next block, create a for loop that counts from 0 to 10 and prints out each number. Additionally, if the number is less than 3, print out "This is a small number".

In [22]:
for i in range(0,11):
    print(i)
    if i <= 3:
        print("This is a small number")

0
This is a small number
1
This is a small number
2
This is a small number
3
This is a small number
4
5
6
7
8
9
10

In the next block, create a while loop that prints out all of the even numbers between 1 and 10. Additionally, if the number is between 5 and 9, print the number out a second time.

In [23]:
i = 1
while i < 10:
    if i % 2 == 0:
        print(i)
        if i >= 5 and i <= 9:
            print(i)
    i = i + 1

2
4
6
6
8
8

In the next block, ask the user to input 3 items and add them all to a list. Then. create a loop that prints out each item that the user entered.

In [1]:
word1 = str(input("Please enter a word, phrase, sentance, or passage to be reversed: "))
word2 = str(input("Please enter a word, phrase, sentance, or passage to be reversed: "))
word3 = str(input("Please enter a word, phrase, sentance, or passage to be reversed: "))

Item_List = [word1, word2, word3]

for number in Item_List:
    print(number)

Please enter a word, phrase, sentance, or passage to be reversed:

### Functions

Functions act like variables but instead of storing a value, they store lines of code. Below we can see how a function is created and used.

In [25]:
def my_first_function():
    print('Hello world')
    return

my_first_function()

Hello world

In [26]:
my_first_function()

Hello world

Whenever the computer sees the function being used, it automatically runs the code stored inside of that function.

Additionally, functions can take in one or multiple values to use in their code, as we can see below.

In [27]:
def add_numbers(a, b, c):
    total = a + b + c
    print(total)

In [28]:
add_numbers(1, 2, 3)

6

Finnally, functions can have a "return" statement. This is what the function sends back to the place it was called. You can think of functions like black boxes where the parameters in the parentheses are the input and the return statement is the output. This output can be saved to a variable to be used later. We will redefine the add_numbers function from above using a return statement to show this off.

In [29]:
def add_numbers(a, b, c):
    total = a + b + c
    print(total)
    return

In [30]:
out = add_numbers(1, 2, 3)
out

6

Now its your turn! You can either work on each of the following challenges in teams of 2 or walk through each one as a group. In any case, it is recommended to look at them at a high level together so that everyone understands the concepts in each section.

In the block below, create a function that takes in 2 numbers and returns True if the product of the numbers is positive and False in all other cases.

In [31]:
def numtest(x, y):
    if x + y > 0:
        return True
    else: 
        return False

if numtest(10,5) == True:
    print("true")
else: 
    print("true'nt!!!")

true

In the block below, create a function that takes in a string and returns the string in reverse order. For example, if the input was "Hello" the output should be "olleH"

In [32]:
def stringslicer(string):
    return string [::-1]
print(stringslicer("test"))

tset

In the block below, create a function that takes in a list and prints out each element 1 at a time. For example, if the input was ['Dog', 'Cat', 'Hamster'], the output should be

Dog

Cat

Hamster

In [33]:
def arraytest(array):
    for variable in array:
        print(variable)

arraytest(["Dog", "Cat", "Hampster"])

Dog
Cat
Hampster

### Modules (Pandas and NLTK)

In the following section we will be covering modules. Above, we leaned about functions and the power that they have. Modules let us use functions that other people have created to solve problems that we commonly incounter. For example, if we find that we frequently have to get a random number, instead of coding it every time, you could just import a function that either you or someone else created in the past. Basically, modules and importing lets us have access to the work of many other coders, making it a very powerful tool.

Let's check out a little bit about pandas. Pandas is an awesome module that helps us deal with large amounts of data in an easy to understand way. Below we will look at some of its many functions

First, we'll have to import it. It is common practice to import pandas as pd but you are free to import it as you see fit.

In [34]:
import pandas as pd

Now to create a sample dataframe. Dataframes are the main feature of pandas. You can think of them as more advanced dictionaries.

In [35]:
data = pd.DataFrame({'A': [1, 2, 5], 'B': [4, 5, 6], 'C': [7, 8, 9], 'D': [10, 11, 12], 'E': [13, 14, 15], 'F': [16, 17, 18], 'G': [20, 21, 22]})
data

   A  B  C   D   E   F   G
0  1  4  7  10  13  16  20
1  2  5  8  11  14  17  21
2  5  6  9  12  15  18  22

Our dataframe is pretty small so it's easy to show the whole thing in the output, but for larger dataframes it is important to only show a few of the rows. To do this, we can use the head(x) function to show the first x rows of the dataframe or tail(x) to show the last x number of rows

In [36]:
data.head(2)

   A  B  C   D   E   F   G
0  1  4  7  10  13  16  20
1  2  5  8  11  14  17  21

In [37]:
data.tail(1)

   A  B  C   D   E   F   G
2  5  6  9  12  15  18  22

Alternatively you can look at just 1 row at a time by calling it similarly to a dictionary

In [38]:
data['A']

0    1
1    2
2    5
Name: A, dtype: int64

You can also get various details about the dataframe with the following functions.

In [39]:
# Gives you the names of all of the columns
data.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [40]:
# Tells you more about what is stored in those columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
 3   D       3 non-null      int64
 4   E       3 non-null      int64
 5   F       3 non-null      int64
 6   G       3 non-null      int64
dtypes: int64(7)
memory usage: 296.0 bytes

In [41]:
# Gives you the names of all the columns, the number of rows in that column and a brief description of the values stored in those columns
data.describe()

              A    B    C     D     E     F     G
count  3.000000  3.0  3.0   3.0   3.0   3.0   3.0
mean   2.666667  5.0  8.0  11.0  14.0  17.0  21.0
std    2.081666  1.0  1.0   1.0   1.0   1.0   1.0
min    1.000000  4.0  7.0  10.0  13.0  16.0  20.0
25%    1.500000  4.5  7.5  10.5  13.5  16.5  20.5
50%    2.000000  5.0  8.0  11.0  14.0  17.0  21.0
75%    3.500000  5.5  8.5  11.5  14.5  17.5  21.5
max    5.000000  6.0  9.0  12.0  15.0  18.0  22.0

Next we will check out iterating through a dataframe.

In [42]:
# Going through a row 1 value at a time
for i in data['A']:
    print(i)

1
2
5

In [43]:
# going through the entire dataframe 1 value at a time
for col_name in data.columns:
    for value in data[col_name]:
        print(value)

1
2
5
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
20
21
22

Now lets create some visuals for our data! First we will create a dataframe of random numbers using numpy.

In [44]:
import numpy as np
rand_data = pd.DataFrame({"A":np.random.rand(10), "B":np.random.rand(10), "C":np.random.rand(10)})
rand_data.head()

          A         B         C
0  0.549447  0.345575  0.368803
1  0.241580  0.127929  0.011433
2  0.002800  0.832821  0.602891
3  0.387765  0.539832  0.918041
4  0.741207  0.749710  0.682365

Now for the visuals, first we will check out a general correlation chart

In [0]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(8,5))
sns.heatmap(data=rand_data.iloc[:,:].corr(),annot=True,fmt='.2f',cmap='coolwarm')
plt.show()

### Now, let's move on to NLTK!

NLTK stands for Natural Language Toolkit. It is a leading platform for building Python programs to work with human language data. It also comes with pre-packed text data.

In [0]:
# import the nltk (natural languages toolkit) package 
import nltk
nltk.download('punkt')

**We access functions in the nltk package with dotted notation. The first function we'll use is one that downloads text, so we have some examples to work with. This function is nltk.download\(\), and we can pass it the name of a specific corpus, such as gutenberg. Downloads may take a little timeâ€¦**

In [0]:
nltk.download('gutenberg')

**Let's get all of the files of the gutenberg package into a list!**

In [0]:
files = nltk.corpus.gutenberg.fileids()

**TODO: Could you use a for loop to print all the files in this list?**

In [0]:
#print all the files in this list 1 by one with a for loop.
for items in files:
    print(items)

### _Text Processing Basics_

Next, let's get all the words in Moby Dick by Melville!

In [50]:
md = nltk.corpus.gutenberg.words("melville-moby_dick.txt")
md

NameError: name 'nltk' is not defined

**This looks like a list, but isn't. We can use the type\(\) function to see what datatype it is**

In [51]:
type(md)

NameError: name 'md' is not defined

**This is a datatype that is specific to nltk. You will see below that you can do many things to this just like a list.**

In [52]:
# How many tokens in the text:
print("Token count:", len(md))

NameError: name 'md' is not defined

In [53]:
# What is the token at index 1000?
print("token at index 1000:", md[1000])

NameError: name 'md' is not defined

In [54]:
# Slice from token 1400 to 1500
print("slice from 1400 to 1500:", md[1400:1500])

NameError: name 'md' is not defined

**We can count how many times a word appears in the book.**

In [55]:
md.count("whale")

NameError: name 'md' is not defined

In [56]:
md.count("boat")

NameError: name 'md' is not defined

**We can get an idea of how long the book is by seeing how many items are in our list.**

In [57]:
len(md)

NameError: name 'md' is not defined

**We can see how many unique words are used in the book.**

In [58]:
md_set = set(md)
len(md_set)

NameError: name 'md' is not defined

**We can calculate the average number of times any given word is used in the book.**

In [59]:
len(md)/len(md_set)

NameError: name 'md' is not defined

**We can look at the book as a lists of sentences.**

In [60]:
md_sents = nltk.corpus.gutenberg.sents("melville-moby_dick.txt")

NameError: name 'nltk' is not defined

**We can calculate the average number of words per sentence in the book**

In [61]:
len(md)/len(md_sents)

NameError: name 'md' is not defined

### _**Visualizations**_

**Let's now extract the 10 most common words and create a histogram of it using plotly!**

First, we need to create a frequency distribution of all of the words in Melville.

In [62]:
md_words_dist = nltk.FreqDist(w.lower() for w in md)
print(md_words_dist) #samples = number of unique words, outcomes = number of total words

NameError: name 'nltk' is not defined

**Then, we need to actually grab the 10 most common words from the frequency distribution.**

In [63]:
mostCommon = md_words_dist.most_common(10)
mostCommon

NameError: name 'md_words_dist' is not defined

Now, we need to create the histogram of these 10 most common words! We will need to import plotly, create a pandas dataframe from the most common words, rename the columns of the dataframe so they are not integers, and then use their histogram function to create the graph!

In [64]:
import plotly.express as px
df = pd.DataFrame(mostCommon)
df.rename(columns = {0:"Word", 1:"Frequency"}, inplace=True)
fig = px.histogram(df, x = "Word", y = "Frequency")
fig.show()

NameError: name 'mostCommon' is not defined

### _Your Turn_

Now, use a different book from the gutenberg package and explore the different things you can do with nltk below!

In [65]:
md = nltk.corpus.gutenberg.words("melville-moby_dick.txt")
md

NameError: name 'nltk' is not defined

In [66]:
mostCommonWords = nltk.FreqDist(w.lower() for w in bk)
print(mostCommonWords)

NameError: name 'nltk' is not defined

In [67]:
mostCommonmd = mostCommonWords.most_common(10)
mostCommonmd

NameError: name 'mostCommonWords' is not defined

In [68]:

md = nltk.corpus.gutenberg.words("melville-moby_dick.txt")
md
#just print the entire thing because yes
for words in md:
    print(words)

NameError: name 'nltk' is not defined

If you are coding this on your own, you may need to install packages like pandas or nltk, which we will get into later, but there are many built in packages as well

### One more module \(time\)

Time allows us to access the current time

In [69]:
import time
time.time() # you will see this go up as you rerun it

1658251242.7438574

random allows us to get random numbers

In [70]:
import random
random.randint(0,5) # this gives one of the numbers between and including 0 and 5

2

Find a built in module and use it here: (hint: try math)

In [71]:
import math
def sqrt(n):
    return print(math.sqrt(n))

sqrt(9)

3.0

You may notice that we have to call the function we need by placing it after the module connected by a dot

But many times, that is inconvenient and we can get around it like this

In [72]:
from random import randint
randint(0,5) # now we can exclude the random. prefix

1

finally, as we did with the numpy module, we can rename the function

In [73]:
from time import time as t
t()

1658251242.7944138